:root {
    --bg-main: #99b0cc91;
    --bg-header: #2b879e;
    --bg-header-botao:#4695a8b2;
    --font-color: #222222;
    --btn-bg: #3ec9a7;
    --cor-p:#555555;
    --branco: #ffffff;
}

body {
    background-color: var(--bg-main);
    color: var(--font-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--bg-header);
    color: var(--branco);
    padding: 20px 0;
}

header h1 {
    font-size: 1.8rem;
    margin: 0;
}

header nav a {
    color: var(--branco);
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

.botao_do_nav{
    background-color: var(--bg-header-botao);
    color: var(--branco);
    border-radius: 5px;
}

.inicio {
    text-align: center;
    padding: 80px 20px;
}


.inicio h2 {
    font-size: 45px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.inicio p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: var(--cor-p);
}

.trabalhos {
    padding: 60px 20px;
}

.trabalhos h2 {
    font-size: 45px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.trabalhos h3 {
    text-align: center;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--bg-header);
}

.botao_top3 {
    background-color: var(--bg-header);
    color: var(--branco);
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.card {
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 2px 8px #00000020;
}


.card img {
    height: 200px;
    object-fit: cover;
}


.card-title {
    font-size: 22px;
}


.card-text {
    color: var(--cor-p);
}

.fundinho_beneficio {
    background-color: var(--branco);
    border-radius: 10px;
    min-height: 180px;
    padding: 30px 20px;
    height: 100%;
}

.beneficio {
    text-align: center;
}

.beneficio h3 {
    color: var(--bg-header);
    font-size: 23px;
    margin-bottom: 15px;
}

.beneficio p {
    color: var(--cor-p);
    font-size: 15px;
    line-height: 1.5;
}

footer {
    background-color: var(--bg-header);
    color: var(--branco);
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}

